/* @font-face	{
	font-family: ostrich-light;
	src: url('fonts/ostrich-light-webfont.ttf'),
		 url('fonts/ostrich-light-webfont.eot');

	font-family: ostrich-regular;
	src: url('fonts/ostrich-regular-webfont.ttf'),
		 url('fonts/ostrich-regular-webfont.eot');

	font-family: junction;
	src: url('fonts/junction-regular.otf');
} */

body 	{
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
}

/*.top-decoration	{
	position: relative;
	top: 0;
	float: left;
	height: 5px;
	width: 20%;
}

.top-decoration:nth-child(1)	{
	background-color: #459973;
}
.top-decoration:nth-child(2)	{
	background-color: #0e5480;
}
.top-decoration:nth-child(3)	{
	background-color: #ed811d;
}
.top-decoration:nth-child(4)	{
	background-color: #1e2647;
}
.top-decoration:nth-child(5)	{
	background-color: #a63c12;
}*/

#header	{
	width: 90%;
	height: 100px;
	background-color: rgba(0,0,0,0);
	position: relative;
	top:0;
	left: 5%;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	margin-top: 0;
	padding: 0;
} 

#header h1 	{
	font-family: 'Abril Fatface';
	color: rgb(50,50,50);
	font-size: 3.7em;
	position: relative;
	margin: 0;
	margin-left: 1%;
	top: 30px;
}


#container 	{
	position: relative;
	font-family: sans-serif;
	width: 90%;
	height: auto;
	left: 5%;
	text-align: center;
	font-size: 1.5em;
	font-weight: lighter;
}

#input-container	{
	background-color: rgba(0,0,0,0);
	padding: 20px 0 10px 0;
}

#input-container p 	{
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	padding: 0;
	margin: 0px 0 10px 0;
}

#imageURL	{
	width: 450px;
	height: 20px;
	margin-left: 0;
}

#urlSubmit	{
	height: 26px;
	width: 90px;
	margin-left: -5px;
	padding: 0;
	background-color: rgba(0,0,0,0.5);
	border: none;
	font-size: 12px;
	color: #fff;
}

#urlSubmit:hover 	{
	background-color: rgba(0,0,0,0.4);
	cursor: pointer;
}


#image-container	{
	height: 350px;
	width: 500px;
	display: inline-block;
	margin-top: 20px;
}

#image-bg	{
	border: 1px solid black;
	height: 350px;
	width: 500px;
	border-radius: 5px;
	background: url('img/loading.gif') no-repeat center;
}

#image-bg img 	{
	height: 330px;
	width: 480px;
	margin-top: 10px;
}

#palette-container	{
	background-color: rgba(0,0,0,0);
	height: 350px;
	width: 500px;
	border-radius: 5px;
	display: inline-block;
	padding:0;
	margin-left: 30px;
	margin-top: 20px;
}

.swatch-box	{
	height: 330px;
	width: 100px;
	margin-top: 20px;
	display: inline-block;
	background-color: #fff;
	float: left;
}